@font-face
{
	font-family: 'Idealist-Sans';
	src: url('../fonts/IdealistSans/IdealistSans.ttf');
}

.main-page
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: #F3F5FB;
	color: #222;
}

.header
{
	background: #2B80B9;
	color: #FFF;
	flex-grow: 0;
	padding: 6px 10px;
	margin-bottom: 10px;
}

.header-wrapper
{
	display: flex;
	align-items: center;
}

.header__logo
{
	display: flex;
	align-items: center;
}

.header__logo .main-page__logo-text
{
	font-size: 26px;
	line-height: 34px;
}

.header__logo-image
{
	width: 60px;
	height: 60px;
	margin-right: 10px;
}

.header__nav
{
	display: none;
}

.main-page__logo-text
{
	font-family: 'Idealist-Sans';
	color: #FFF;
	font-weight: 400;
}

.main
{
	flex: 1 0 auto;
	margin-bottom: 50px;
}

.main-page__section:not(:last-child)
{
	margin-bottom: 30px;
}

.main-page__title
{
	margin-bottom: 15px;
}

.main-page__section-title
{
	margin-bottom: 15px;
}

.main-page__section img
{
	display: block;
	width: 100%;
}

.main-page__text:not(:last-child)
{
	margin-bottom: 10px;
}

.intro .main-page__text { margin-bottom: 30px; }

.intro__pic
{
	margin-bottom: 30px;
}

.intro__images
{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.description .main-page__text:first-of-type { margin-bottom: 30px; }

.services__list
{
	margin-bottom: 30px;
}

.description__pic
{
	margin-bottom: 30px;
}

.gallery .main-page__section-title { margin-bottom: 30px; }

.gallery__list
{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.gallery__list-waterfall
{
	width: 100%;
	display: flex;
	gap: 15px;
}

.gallery__list-waterfall img
{
	width: calc(50% - 15px);
	flex-grow: 1;
}

.main-page__section-tel
{
	display: inline-block;
	color: #222;
	font-weight: 600;
}

.contacts-wrapper
{
	display: flex;
	flex-direction: column;
}

.contacts__list
{
	margin-bottom: 20px;
}

.contacts__list-text
{
	display: block;
}

.contacts__map
{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contacts__map iframe
{
	width: 100%;
	height: 215px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 0px rgba(64, 64, 64, 0.20);
}

.contacts__map-item .main-page__text
{
	margin-bottom: 20px;
}

.footer
{
	background: #2B80B9;
	color: #FFFFFF;
	flex-grow: 0;
}

.footer-wrapper
{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0 30px;
}

.footer__logo
{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.footer__logo-image
{
	width: 40px;
	height: 40px;
	margin-right: 15px;
}

.footer .main-page__logo-text
{
	font-size: 26px;
	line-height: 34px;
}

.footer__copyright
{
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}

@media (max-width: 1439px)
{
	.header .container { padding: 0; }
}

@media (min-width: 768px)
{
	.header
	{
		padding: 10px;
		margin-bottom: 20px;
	}

	.header__logo
	{
		margin-right: 10px;
	}

	.header__logo .main-page__logo-text
	{
		font-size: 27px;
		line-height: 35px;
	}

	.header__logo-image
	{
		width: 70px;
		height: 70px;
	}

	.header__nav
	{
		display: flex;
		flex-grow: 1;
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	.header__nav-link
	{
		color: #FFF;
		font-size: 16px;
		line-height: 22px;
		font-weight: 600;
	}

	.main
	{
		margin-bottom: 60px;
	}

	.main-page__title
	{
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}

	.main-page__section-title
	{
		font-size: 22px;
		line-height: 27px;
		margin-bottom: 18px;
	}

	.main-page__text
	{
		font-size: 15px;
	}

	.main-page__text:not(:last-child)
	{
		margin-bottom: 12px;
	}

	.intro .main-page__text
	{
		margin-bottom: 30px;
	}

	.intro__pic
	{
		object-fit: cover;
		object-position: bottom;
		aspect-ratio: 16 / 7;
	}

	.intro__images
	{
		flex-direction: row;
		flex-wrap: wrap;
		gap: 18px;
	}
	
	.intro__images img
	{
		width: calc(50% - 18px);
		aspect-ratio: 152 / 100;
		flex-grow: 1;
	}

	.intro__images img:last-child
	{
		width: 100%;
		object-fit: cover;
		object-position: center;
		aspect-ratio: 16 / 7;
	}

	.services__list
	{
		padding-left: 20px;
	}

	.services__list li
	{
		font-size: 15px;
		line-height: 24px;
	}

	.services__pic
	{
		object-fit: cover;
		object-position: 0 -40px;
		aspect-ratio: 16 / 7;
	}

	.gallery__list
	{
		flex-direction: row;
		flex-wrap: wrap;
		gap: 18px;
	}

	.gallery__list img
	{
		width: calc(50% - 18px);
		aspect-ratio: 152 / 100;
		flex-grow: 1;
	}

	.gallery__list-waterfall
	{
		width: calc(50% - 9px);
		gap: 18px;
	}

	.contacts__list
	{
		display: flex;
		justify-content: space-between;
		gap: 18px
	}

	.contacts__list .main-page__text
	{
		flex-basis: 50%;
		margin-bottom: 0;
	}

	.contacts__map
	{
		flex-direction: row;
		gap: 18px;
	}

	.contacts__map iframe
	{
		height: 240px;
	}

	.contacts__map-item
	{
		display: flex;
		flex-direction: column;
		flex-basis: calc(50% - 18px);
		flex-grow: 1;
	}

	.contacts__map-item .main-page__text
	{
		flex-grow: 1;
		margin-bottom: 20px;
	}

	.footer-wrapper
	{
		padding: 20px 0;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.footer__logo
	{
		margin-bottom: 0;
	}

	.footer__logo-image
	{
		width: 60px;
		height: 60px;
		margin-right: 20px;
	}

	.footer .main-page__logo-text
	{
		font-size: 28px;
		line-height: 37px;
	}

	.footer__copyright
	{
		font-weight: 400;
	}
}

@media (min-width: 1440px)
{
	.header { padding: 15px 0; }

	.header__logo-image
	{
		width: 80px;
		height: 80px;
	}

	.header__logo .main-page__logo-text
	{
		font-size: 30px;
		line-height: 39px;
	}

	.header__nav
	{
		gap: 40px;
	}

	.header__nav-link
	{
		font-size: 18px;
		line-height: 25px;
	}

	.main
	{
		margin-bottom: 80px;
	}

	.main-page__section:not(:last-child)
	{
		margin-bottom: 40px;
	}

	.main-page__title
	{
		font-size: 32px;
		line-height: 44px;
		margin-bottom: 24px;
	}

	.main-page__section-title
	{
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 22px;
	}

	.main-page__text
	{
		font-size: 18px;
		line-height: 25px;
	}

	.intro .main-page__text
	{
		margin-bottom: 40px;
	}

	.intro__pic
	{
		margin-bottom: 40px;
		aspect-ratio: 240 / 100;
	}

	.intro__images
	{
		gap: 24px;
	}

	.intro__images img,
	.intro__images img:last-child
	{
		width: calc(30% - 24px);
		aspect-ratio: 148 / 100;
	}

	.services__list
	{
		padding-left: 27px;
		margin-bottom: 40px;
	}

	.services__list li
	{
		font-size: 18px;
		line-height: 33px;
	}

	.description .main-page__text:first-of-type { margin-bottom: 40px; }

	.description .main-page__text:not(:first-of-type, :last-child)
	{
		margin-bottom: 16px;
	}

	.description__pic
	{
		margin-bottom: 40px;
		object-fit: cover;
		object-position: bottom;
		aspect-ratio: 9 / 5;
	}

	.gallery .main-page__section-title { margin-bottom: 40px; }

	.gallery__list
	{
		gap: 24px;
	}

	.gallery__list img
	{
		width: calc(30% - 24px);
		aspect-ratio: 148 / 100;
		flex-grow: 1;
	}

	.gallery__list-waterfall
	{
		width: calc(30% - 24px);
    	flex-grow: 1;
		gap: 24px;
	}

	.contacts__list
	{
		margin-bottom: 30px;
		gap: 24px;
	}

	.contacts__map
	{
		gap: 24px;
	}

	.contacts__map-item
	{
		flex-basis: calc(50% - 24px);
	}

	.contacts__map-item .main-page__text
	{
		margin-bottom: 30px;
	}

	.contacts__map iframe
	{
		height: 350px;
	}

	.footer-wrapper
	{
		padding: 15px 0;
	}

	.footer__logo-image
	{
		width: 70px;
		height: 70px;
	}

	.footer .main-page__logo-text
	{
		font-size: 32px;
		line-height: 42px;
	}

	.footer__copyright
	{
		font-size: 18px;
		line-height: 25px;
	}
}
